/*header adaptavel*/
body {
    margin: 0;
    font-size: 100%;
    /*font: inherit;
    vertical-align: baseline;*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.cabecalho {
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /*background-color: #014D73;*/
    /*position: relative; /* Adicione essa propriedade */
    z-index: 1; /* Adicione essa propriedade */
}

.logo{
    margin-left: 20px;
    width: 250px;
}

.menu_new ul{
    padding: 0; 
    list-style: none; 
    display: table;
    width: 470px;
    text-align: center;
    margin-right: 20px;
}

.menu_new li{
    display: table-cell; 
    position: relative; 
    padding: 5px 0;
}

.menu_new a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;     
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.menu_new a:after {  
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

.menu_new a:hover:after { 
        width: 100%; 
        left: 0;
        background-color:#99C76D;
      }

/*banner index e informacoes */
.banner_contato {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh; 
    z-index: -1; 
  }

.contato{
    position: absolute;
    left: 50%;
    top: 20%;
    width: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

/* FORMULARIO */
#formulario-contato h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#000000;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 20px;

}

#formulario-contato label{
    margin-left: 28px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;;
}

#formulario-contato input{
    width: 90%;
    margin-left: 28px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.mensagem-enviada{
    display: none;
}

#mensagem-contato{
    margin-left: 28px;
    margin-top: 5px;
    width: 90%;
    border-radius: 5px;
    height: 230px;
}

#formulario-contato button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border-style: none;
    width: 20%;
    background-color: #000000;;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 300px;
    
}

#formulario-contato button:hover {
    background-color: #00A0E3;
    color: #FFFFFF;
}

.mensagem-enviada{
    color: #000000;;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: small;
    margin-top: 4px;
    position: absolute;
}
